body{

    
    background-repeat: no-repeat;
   
   
    background-image:radial-gradient(rgba(238, 44, 22, 0.5),rgba(236, 215, 28, 0.5)) , url('images1/3.jpg');
    background-size: cover;

}
h1{
    text-align: center;
    font-size:30px;
    font-weight: 900;
    text-decoration:underline;
    color:black;

}
p{
    font-size: 15px;
  
    line-height: 6;
}
#ma{
    text-transform:uppercase;
    font-weight: 900;
    text-decoration:underline;
    color:aliceblue;
}
#ma2{
    font-style: italic;
    color: rgb(99, 43, 183);
}

#ma3{
   
    color: rgb(16, 23, 82);
}
h2{
    font-size: 20px;
}